.container {
  max-width: 120rem;
  background-color: var(--grey-light-1);
  min-height: 60rem;
  margin: 8rem auto;

  box-shadow: var(--shadow-dark);
}

.header {
  font-size: 1.4rem;
  background-color: #fff;
  height: 7rem;
  border-bottom: var(--grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
  background-color: orange;
}
